################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/Debug
/SFMLTest/Debug
/SFMLTest.VC.db
/SFMLTest.VC.VC.opendb
